header {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #ff8c33;
  display: flex;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  height: 80px;
  justify-content: center;
  line-height: 48px;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: 500px;
  margin: 24px;
  padding: 16px;
}

.card {
  align-items: center;
  background: #fff;
  border: 1px solid #4cc4ff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(52, 133, 173, 0.6);
  box-sizing: border-box;
  height: 86px;
  overflow: hidden;
  padding: 8px;
  width: 280px;
}

.low {
  align-items: center;
  display: flex;
}

.userName {
  font-size: 24px;
  font-weight: bold;
}

.userStatus {
  align-items: flex-end;
}
